# IDE
.idea/
*.iml
.vscode/

# Logs (your program writes myreddit.log)
*.log
myreddit.log

# Secrets / local config
conf/config.yaml
config.yaml

# Local env files (if you add them later)
.env
*.env

# Built binary (if generated)
myreddit
myreddit.exe

.mysql_data/
.redis_data/